<div class="container">
    <form class="mt-10" fxLayout="column" fxLayoutAlign="space-around center" [formGroup]="formLogin">
        <h1>Login</h1>
        <mat-form-field>
            <input matInput formControlName="Correo" type="text" placeholder="Correo">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="Password" type="password" placeholder="Password">
        </mat-form-field>

        <div fxLayout="row" >
            <a mat-button routerLink="registrate">Registrate</a>
            <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>


        <button mat-raised-button color="primary" (click)="login()">Inicial Sesion</button>


    </form>
</div>